* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.no-focus-outline a:focus,
.no-focus-outline button:focus {
  outline: none;
}

.heading {
    text-align: center;
    color: white;
    margin-top: 5%;
    text-shadow: #222 1px 1px 1px;
}

.app-title {
    font-family: 'Architects Daughter', cursive;
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.subtitle {
    font-family: 'Montserrat', sans-serif;
 }

.whole-container {
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.time-select,
.sound-picker,
.player-container {
    height: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 400px;
}

.player-container {
    position: relative;
}
.player-container svg {
    position: absolute;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    pointer-events: none;
}


.time-display {
    position: absolute;
    bottom: 10%;
    color: white;
    font-size: 50px;
}

video {
    height: 100vh;
    width: auto;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: -10;
}

.time-select button,
.sound-picker button {
    color: white;
    width: 30%;
    height: 10%;
    background: #ddd;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    transition: all 0.5s ease;
}

.time-select button {
    text-shadow: #444 1px 1px 1px;
}

.time-select button:hover {
    color: black;
    background: white;
    text-shadow: none;
}

.sound-picker button {
    border: none;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 30px;
}

.sound-picker button:nth-child(1){
    background: #3b92a1;
}

.sound-picker button:nth-child(2){
    background: #ffb14c;
}

.sound-picker button:nth-child(3){
    background: #199657;
}

.sound-picker button img {
    height: 100%;
}